@charset "UTF-8";

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Pretendard';
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

div {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.sub_wrap nav ul li a.mypageatag {
	    font-size: 18px;
    font-weight: bold;
    color: #388e3c;
}

form {
	margin: 0;
	padding: 0;
	border: 0;
}

section {
	margin: 0;
	padding: 0;
	border: 0;
}

strong {
	margin: 0;
	border: 0;
}

p {
	margin: 0;
	padding: 0;
	border: 0;
}

span {
	margin: 0;
	padding: 0;
	border: 0;
}

h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

button {
	margin: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	white-space: nowrap;
	font: normal 400 14px/16px 'Pretendard';
}

a {
	text-decoration: none;
}

.wrap, sub_top_wrap {
    width: 100%;
    background: #fff;
}

.wrap.show {
    opacity: 1;
    visibility: visible;
}

a{
    text-decoration: none;
}


.sub_top_wrap {
       height: 211px;
    background: #388e3c;
}

.sub_top {
       width: 1024px;
    height: 211px;
    margin: 0 auto;
    padding-top: 72px;
    border-radius: 0;
        background: none;
    position: relative;
}

.sub_top h2 {
       display: block;
    margin: 37px 0 0 31px;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}


header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 72px;
  transition: 0.3s;
   background-color: red;
}

header section {
   position: relative;
   width: 1024px;
   height: 64px;
   background: none;
   margin: 0 auto;
}

header section h1 a {
   display: block;
   color :#EBEBEB;
   font-size : 18px;
}


header section h1 {
    position: absolute;
    top: 7px;
    left: 32px;
    width: 96px;
    height: 20px;
    margin: 0;
    /* background: url(//image.goodchoice.kr/images/web_v3/h1_logo_pc_w.png) 0 0 no-repeat; */
    background-size: 96px auto;
}

header section .btn_srch {
   position: absolute;
   border: none;
   text-indent: -9999px;
   top: 22px;
   right: 396px;
   z-index: 10;
   width: 30px;
   height: 30px;
   background: url(//image.goodchoice.kr/images/web_v3/ico_srch_2.png) 50%
      50% no-repeat;
   background-size: 24px auto;
}

.gnb_pc {
   display: inline-block;
   position: absolute;
   top: 15px;
   right: 31px;
   margin-top: 10px;
}

.gnb_pc {
   width: auto;
   text-align: right;
}

.gnb_pc li a {
   display: inline-block;
   font-size: 18px;
   color: #fff;
   letter-spacing: 0;
}


.gnb_pc li {
   display: inline-block;
   position: relative;
   min-width: 53px;
   min-height: 35px;
   margin-left: 30px;
   vertical-align: top;
}

#menu {
  display: flex;
  justify-content: space-between;
  background-color: #388e3c ;
  /*transition: all 300ms ease;*/
  
}

#menu.active {
    position: fixed;
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 210;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  
} 

.bannertext.textactive{

   color: #388e3c;
   
}

#bannertext.textactive2{

color: #388e3c;

}

#content {
	overflow: hidden;
}

.my_wrap {
	padding-top: 54px;
}

.sub_wrap {
	    min-height: 390px;
	        width: 1024px !important;
    margin: 0 auto 0 auto;
    padding-bottom: 50px;
}

.sub_wrap nav {
	    display: block;
    float: left;
    width: 238px;
    padding-left: 31px;
}

.sub_wrap nav ul li {
	    margin-bottom: 26px;
}

.sub_wrap nav ul li a {
	    display: block;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
}

.sub_wrap .align_rt {
	float: right;
	width: 724px;
	margin-right: 31px;
}

.reverse_list {
	padding: 0;
	border: none;
}

.reverse_list section:first-child {
	padding-top: 0;
	clear: both;
	border-bottom: none;
}

.reverse_list h3 {
	display: block;
	padding: 0 0 20px 0;
	font-size: 18px;
}

.reverse_list section {
	clear: both;
	border-bottom: none;
	padding-top: 35px;
}

.list_wrap {
	overflow: hidden;
}

.reverse_list li {
	float: left;
	width: 354px;
	height: auto;
	margin: 0 16px 16px 0;
	position: relative;
}

.reverse_list li .pic {
	height: 184px;
	border-radius: 2px 2px 0 0;
	overflow: hidden;
	position: relative;
	z-index: 10;
	width: 100%;
}

.reverse_list .bg_w {
	background: rgb(235, 235, 235);
	color: rgba(0, 0, 0, 0.87);
}

.reverse_list li a {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 148px;
    padding: 26px 0 0 0;
    line-height: normal;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}


.reverse_list li a.product-title {
	display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 0;
    border: 1px solid rgba(0,0,0,.08);
    border-top: none;
    border-radius: 0 0 2px 2px;
    background: none;
    color: rgba(0,0,0,.87);
}

.reverse_list li a i {
	    display: inline-block;
    margin-bottom: 10px;
    margin-top: 24px;
    padding: 1px;
    font-size: 14px;
    font-style: normal;
    color: #fff;
}

.reverse_list li a strong {
	font-size: 20px;
	display: block;
}

.reverse_list li a span {
	padding: 0 0 20px 0;
    font-size: 18px;
    display: block;
}

.reverse_list li .btn_re {
	    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-top: none;
    border-radius: 0 0 4px 4px;
    text-align: center;
        background: #fff;
}

.reverse_list li .btn_re a {
	    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    height: 19px;
    font-size: 16px;
    line-height: normal;
    color: #00796b;
    
}

.list_cancel a {
	border-bottom: none !important;
}

.reverse_list li:nth-child(even) {
	    margin: 0 0 16px 0;
	
}
