<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>star</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- <servlet>
  	<servlet-name>Board</servlet-name>
  	<servlet-class>com.star.board.BoardFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Board</servlet-name>
  	<url-pattern>*.board</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>Answer</servlet-name>
  	<url-pattern>*.Answer</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Answer</servlet-name>
  	<servlet-class>com.star.answer.AnswerFrontController</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>File</servlet-name>
  	<url-pattern>*.File</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>File</servlet-name>
  	<servlet-class>com.star.file.FileFrontController</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>Pet</servlet-name>
  	<url-pattern>*.Pet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Pet</servlet-name>
  	<servlet-class>com.star.pet.PetFrontController</servlet-class>
  </servlet>

   <servlet-mapping>
  	<servlet-name>Quest</servlet-name>
  	<url-pattern>*.Quest</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Quest</servlet-name>
  	<servlet-class>com.star.Quest.QuestFrontController</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>Report</servlet-name>
  	<url-pattern>*.Report</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Report</servlet-name>
  	<servlet-class>com.star.Report.ReportFrontController</servlet-class>
  </servlet>

   <servlet-mapping>
  	<servlet-name>Review</servlet-name>
  	<url-pattern>*.Review</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Review</servlet-name>
  	<servlet-class>com.star.Review.ReviewFrontController</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>Use</servlet-name>
  	<url-pattern>*.use</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Use</servlet-name>
  	<servlet-class>com.star.Use.UseFrontController</servlet-class>
  </servlet>
   -->
   
   <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>*.user</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>User</servlet-name>
  	<servlet-class>com.star.user.UserFrontController</servlet-class>
  </servlet>
  

  
  
</web-app>