@charset "UTF-8";

body { padding: 0px; margin: 0px;
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 1;
    -webkit-text-size-adjust: none;
 }
 
            .jb-box { width: 100%; height: 500px; overflow: hidden; position: relative; margin-top: 160px; }
            video { 
                position: absolute;
                width: 100% ;
                height: 1729px;
                                 }
            .jb-text { position: absolute; top: 50%; width: 100%; }
            .jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }

            .wrap.show, footer.show {
    opacity: 1;
    visibility: visible;
}

.hidden-s {
    display: none !important;
}
#home-container .desktop .introduction-section {
    width: 100%;
    display: flex;
}

.appdown {
    display: block;
    overflow: hidden;
    width: 973px;
    height: 320px;
    margin: 100px auto 78px auto;
    background: url(//image.goodchoice.kr/images/web_v3/bg_appdown.png) center center no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 150px;
    
}
.appdown p {
    margin: 103px 0 27px 0;
    font-size: 28px;
    color: rgba(0,0,0,0.87);
}
.wrap.show {
    opacity: 1;
    visibility: visible;
}
.wrap, sub_top_wrap {
    width: 100%;
    background: #fff;
}

h2 {
    font-size: 24px;
    margin-bottom: 35px;
    font-weight: bold;
    padding-left: 25px;
}


footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 0px;
    padding: 63px 31px 40px 31px !important;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
}
footer .align {
    width: 1024px;
    margin: 0 auto;
}
footer .link {
    overflow: hidden;
}
.recommend {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 130px 31px 0 31px;
}
.recommend {
    width: 1033px;
    margin-top: 50px;
    margin-bottom:170px;
    overflow: hidden;
    padding: 78px 54px 0 31px;
}
.recommend li {
    overflow: hidden;
    float: left;
    position: relative;
    width: 473px;
    height: 162px;
    margin: 0 0 16px 0;
    padding: 0 24px 0 186px;
    border: 1px solid rgba(0,0,0,0.08);
    box-sizing: border-box;
}
.recommend li:nth-child(even) {
    margin-left: 20px;
}
.recommend li:last-child {
    display: block;
}
.recommend li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 162px;
    height: 162px;
}
.recommend li strong {
    display: block;
    padding: 38px 0 14px 0;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    color: rgb(0,121,107);
}
.recommend li a {
    display: block;
    height: 162px;
    font-size: 17px;
    line-height: 1.6;
    color: rgba(0,0,0,0.56);
    box-sizing: border-box;
}
.wrap.show, footer.show {
    opacity: 1;
    visibility: visible;
}
.wrap {
    width: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}
.bg_dimm {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 410;
    background: rgba(0,0,0,0.78);
    touch-action: none;
}
#content {
    overflow: hidden;
}

.main_spot a {
    height: 580px;
}
.main_spot {
    height: 580px;
    background: #fff url(//image.goodchoice.kr/images/web_v3/mainspot_230401.jpg) 50% 100% no-repeat;
    background-size: 924px auto;
    text-indent: -9999px;
}

.bg_dimm_prevent {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 410;
    background: rgba(0,0,0,0.78);
}


b, strong {
    font-weight: bolder;
}

element.style {
    display: flex;
    flex-direction: row;
}

element.style {
    width: 100%;
    height: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:#5A82ED;
}

img {
    vertical-align: middle;
    border-style: none;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    z-index: 10;
}

.swiper-container {
    display: flex;
    flex-direction: row;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
}

button span {
    position: relative;
}

button {
   writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    box-sizing: border-box;
    margin: 0em;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: 'Pretendard', 'Apple SD Gothic Neo', '맑은 고딕', '맑은고딕', 'Malgun Gothic', sans-serif;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrap, sub_top_wrap {
    width: 100%;
    background: #fff;
}

.wrap.show {
    opacity: 1;
    visibility: visible;
}

a{
    text-decoration: none;
}


.sub_top_wrap {
       height: 211px;
    background: #f7323f;
}

.sub_top {
       width: 1024px;
    height: 211px;
    margin: 0 auto;
    padding-top: 72px;
    border-radius: 0;
        background: none;
    position: relative;
}

.sub_top h2 {
       display: block;
    margin: 21px 0 0 31px;
    font-size: 38px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #fff;
}


header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 72px;
  transition: 0.3s;
   background-color: red;
}

header section {
   position: relative;
   width: 1024px;
   height: 64px;
   background: none;
   margin: 0 auto;
}

header section h1 a {
   display: block;
   color :#EBEBEB;
   font-size : 18px;
}


header section h1 {
    position: absolute;
    top: 7px;
    left: 32px;
    width: 96px;
    height: 20px;
    margin: 0;
    /* background: url(//image.goodchoice.kr/images/web_v3/h1_logo_pc_w.png) 0 0 no-repeat; */
    background-size: 96px auto;
}

header section .btn_srch {
   position: absolute;
   border: none;
   text-indent: -9999px;
   top: 22px;
   right: 396px;
   z-index: 10;
   width: 30px;
   height: 30px;
   background: url(//image.goodchoice.kr/images/web_v3/ico_srch_2.png) 50%
      50% no-repeat;
   background-size: 24px auto;
}

.gnb_pc {
   display: inline-block;
   position: absolute;
   top: 15px;
   right: 31px;
}

.gnb_pc {
   width: auto;
   text-align: right;
}

.gnb_pc li a {
   display: inline-block;
   font-size: 18px;
   color: #fff;
   letter-spacing: 0;
}


.gnb_pc li {
   display: inline-block;
   position: relative;
   min-width: 53px;
   min-height: 35px;
   margin-left: 30px;
   vertical-align: top;
}

#menu {
  display: flex;
  justify-content: space-between;
  background-color: #388e3c ;
  /*transition: all 300ms ease;*/
  z-index:9999;
}

#menu.active {
    position: fixed;
  height: 72px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 210;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
  
} 

.bannertext.textactive{

   color: #388e3c;
   
}

#bannertext.textactive2{

color: #388e3c;

}



