@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
}

div.warn-modal {
    padding: 24px;
}

div#content-wrap span{
    display: block;
}
/* 로딩 */


.wrap-loading{ 
/*화면 전체를 어둡게 합니다.*/

    position: fixed;

    left:0;

    right:0;

    top:0;

    bottom:0;

    background: rgba(0,0,0,0.2); /*not in ie */

    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */

    

}

    .wrap-loading div{ /*로딩 이미지*/

        position: fixed;

        top:50%;

        left:50%;

        margin-left: -21px;

        margin-top: -21px;

    }

    .display-none{ /*감추기*/

        display:none;

    }
    
    .square{
  border:0;
  width:80px;
  padding:0px;
  margin-top: 90px;
  margin-left: calc(50% - 40px);
  margin-left: -webkit-calc(50% - 40px);
  margin-left: -moz-calc(50% - 40px);
  background:#2ecc71;
}

.spin {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border:dashed 5px white;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {  -webkit-transform: rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg); }
}